# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/app/build/
android/build/
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
